<!--<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=docTitle %></title>
    <link rel="stylesheet" href="/css/404.css">
    
</head>
-->
</head>

<%- include(includes/head.ejs) %>
<body>
    <!--
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__items"><a href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add-product</a></li>
            </ul>
        </nav>
    </header>
    -->
    <% include('includes/navigation.ejs')%>
    <h1>page not founddddd</h1>

    <% include('includes/navigation.ejs')%>
  <!--
      </body>

</html>
  -->